<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.to.cdp.repository.RecMapper">



<!--*****************************************************************
	***************************RecBook*******************************
	***************************************************************** -->
	
	<!-- recBookInsert -->
	<insert id="recBookInsert"
			parameterType="java.util.Map">
		INSERT INTO rec_book (
			rec_book_code, 
			info_book_code, 
			rec_book_reason, 
			rec_book_content, 
			rec_book_condition, 
			rec_book_registerdate,
			info_job_code
			)
		VALUES (
			#{recBook.recBookCode}, 
			#{infoBookCode}, 
			#{recBook.recBookReason}, 
			#{recBook.recBookContent},
			#{recBook.recBookCondition}, 
			now(),
			#{infoJob.infoJobCode}
			)
	</insert>
		

	<!-- count  -->
	<select id="recBookCount"
			resultType="integer">
		SELECT 
			count(*) 
		FROM rec_book
	</select>
	
	<!-- 전체 도서 수 구하기 (조건검색 포함)-->
	<select id="infoBookCountAtRec"
			parameterType="java.util.Map"
			resultType="integer">
		SELECT 
			count(*) 
		FROM info_book
		<where>
			<if test="searchWord != null">
				<choose>
		 			<when test="searchType.equals('info_book_name')">
						info_book_name LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType.equals('info_book_genre')">
						info_book_genre LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType.equals('info_book_institute')">
			 			info_book_institute LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType.equals('info_book_writer')">
			 			info_book_writer LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					
				</choose>
			</if>
		</where>
	</select>
	
	<!-- recBookList + 검색 -->
	<select id="recBookList"
			parameterType="java.util.Map"
			resultType="com.to.cdp.rec.model.RecBook">
		SELECT 
			rec_book_code recBookCode,
			rec_book_genre recBookGenre,
			rec_book_institute recBookInstitute,
			rec_book_writer recBookWriter,
			rec_book_name recBookName
		FROM info_book
		<where>
			<if test="searchWord != null">
				<choose>
		 			<when test="searchType.equals('rec_book_name')">
						rec_book_name LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType.equals('rec_book_genre')">
						rec_book_genre LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType.equals('rec_book_institute')">
			 			rec_book_institute LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType.equals('rec_book_writer')">
			 			rec_book_writer LIKE CONCAT('%', #{searchWord}, '%')
					</when>
				</choose>
			</if>
		</where>
	</select>
	
	<!-- recBookDetail -->
	<select id="recBookDetail"
			parameterType="com.to.cdp.rec.model.RecBook"
			resultType="com.to.cdp.rec.model.RecBook">
		SELECT 
			info_book_code infoBookCode,
			info_book_genre infoBookGenre,
			info_book_institute infoBookInstitute,
			info_book_writer infoBookWriter,
			info_book_name infoBookName
		FROM info_book
		WHERE info_book_code = #{infoBookCode}
	</select>
	
	
</mapper>